html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  background: #f4f1e8;
}

/* FULL PAGE CENTERING CONTAINER */
.page {
  width: 100%;
  height: 100vh;

  display: flex;
  justify-content: center;   /* horizontal center */
  align-items: center;       /* vertical center */
}

/* MAP BOX */
#map {
  width: 85%;
  height: 80vh;

  border-radius: 12px;
  box-shadow: 0 6px 25px rgba(0,0,0,0.2);
}